[Unit]
Description=JupyterHub (postgres)

[Service]
User=root
ExecStart=/io/repo/units/jupyterhub.sh -f /io/repo/jupyterhub_config_postgres.py
WorkingDirectory=/tmp
