[Unit]
Description=Jupyterhub

[Service]
User=root
ExecStart=/io/repo/scripts/start-jupyterhub.sh -f /io/repo/jupyterhub_config_postgres.py
WorkingDirectory=/tmp
